Question1.	What is a neural network? What are the general steps required to build a neural network?

Neural Network refers to a series of algorithms that attempts to identify underlying patterns in a collection of data.

There are some general steps to build a neural network:

Choose the Neural Network's Architecture: Determine the number of layers, types of layers such as convolutional, recurrent, fully connected, and how many neurons each layer should have.

Prepare your data: Collect, clean, and normalise or standardise your data. Split it into training sets, validation sets and test sets.

Pick a Loss Function: Choose a loss function that is appropriate for the specific problem type for instance cross-entropy for classification, mean squared error for regression.

Choose an Optimizer: Choose an optimizer that will adapt the weights of the network as it learns such as SGD & Adam.

Train the Network: The network takes in inputs, conducts forward propagation to get an output, and then calculates loss. This use of backpropagation is used to re-adjust the weights of your network.

Evaluate and fine-tune: Test the network on the validation set, alter hyperparameters where required such as learning rate, number of layers, neurons per layer and re-train as necessary.

Deploying: If the model performs well enough it can then be put into practical use.

Question2.	Generally, how do you check the performance of a neural network? Why is this the case?

We can check the performance of a neural network using metrics like accuracy, precision, recall, F1-score for classification tasks, or Mean Squared Error (MSE) for regression tasks. Performance is evaluated by comparing the output from the network against true values and making predictions on a set of held-out test data. This enables us to prevent any problems early by ensuring that it generalizes well to unseen new data and doesn't just memorize what has been seen previously (overfitting).

Question3.	Clean the data or do additional cleaning if you have used the dataset for another assignment. Specify the improvements (at least 2) that you made to your cleaning if you selected the dataset before. If you select one with a low number or records, consider oversampling.

In [27]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder
from keras.models import Sequential
from keras.layers import Dense

In [28]:
credit_card_data = pd.read_csv('./Credit_card.csv')

credit_card_data.head()

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members
0,5008827,M,Y,Y,0,180000.0,Pensioner,Higher education,Married,House / apartment,-18772.0,365243,1,0,0,0,NaN,2
1,5009744,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2
2,5009746,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,NaN,-586,1,1,1,0,NaN,2
3,5009749,F,Y,N,0,NaN,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2
4,5009752,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2

In [15]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1548 entries, 0 to 1547
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Ind_ID           1548 non-null   int64
 1   GENDER           1541 non-null   object
 2   Car_Owner        1548 non-null   object
 3   Propert_Owner    1548 non-null   object
 4   CHILDREN         1548 non-null   int64
 5   Annual_income    1525 non-null   float64
 6   Type_Income      1548 non-null   object
 7   EDUCATION        1548 non-null   object
 8   Marital_status   1548 non-null   object
 9   Housing_type     1548 non-null   object
 10  Birthday_count   1526 non-null   float64
 11  Employed_days    1548 non-null   int64
 12  Mobile_phone     1548 non-null   int64
 13  Work_Phone       1548 non-null   int64
 14  Phone            1548 non-null   int64
 15  EMAIL_ID         1548 non-null   int64
 16  Type_Occupation  1060 non-null   object
 17  Family_Members   1548 non-null   int64
dtypes: float64(2), int64(8), object(8)
memory usage: 217.8+ KB

In [16]:
credit_card_data.describe()

,Ind_ID,CHILDREN,Annual_income,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Family_Members
count,1.548000e+03,1548.000000,1.525000e+03,1526.000000,1548.000000,1548.0,1548.000000,1548.000000,1548.000000,1548.000000
mean,5.078920e+06,0.412791,1.913993e+05,-16040.342071,59364.689922,1.0,0.208010,0.309432,0.092377,2.161499
std,4.171759e+04,0.776691,1.132530e+05,4229.503202,137808.062701,0.0,0.406015,0.462409,0.289651,0.947772
min,5.008827e+06,0.000000,3.375000e+04,-24946.000000,-14887.000000,1.0,0.000000,0.000000,0.000000,1.000000
25%,5.045070e+06,0.000000,1.215000e+05,-19553.000000,-3174.500000,1.0,0.000000,0.000000,0.000000,2.000000
50%,5.078842e+06,0.000000,1.665000e+05,-15661.500000,-1565.000000,1.0,0.000000,0.000000,0.000000,2.000000
75%,5.115673e+06,1.000000,2.250000e+05,-12417.000000,-431.750000,1.0,0.000000,1.000000,0.000000,3.000000
max,5.150412e+06,14.000000,1.575000e+06,-7705.000000,365243.000000,1.0,1.000000,1.000000,1.000000,15.000000

In [17]:
freq_imputer = SimpleImputer(strategy='most_frequent')
credit_card_data['GENDER'] = freq_imputer.fit_transform(credit_card_data[['GENDER']]).ravel()  # Flatten the array
credit_card_data['Type_Occupation'] = freq_imputer.fit_transform(credit_card_data[['Type_Occupation']]).ravel()  # Flatten the array

Question4.	Create a neural network using Keras or PyTorch to predict the outcome of your datasets.

In [ ]:
categorical_columns = [
    'GENDER', 'Type_Income', 'EDUCATION', 'Marital_status', 'Housing_type', 'Type_Occupation', 'Propert_Owner'
]

label_encoder = LabelEncoder()
for column in categorical_columns:
    credit_card_data[column] = label_encoder.fit_transform(credit_card_data[column])

X = credit_card_data.drop('Car_Owner', axis=1)
y = credit_card_data['Car_Owner']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = Sequential([
    Dense(64, input_shape=(X_train.shape[1],), activation='relu'),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])


model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

model.fit(X_train, y_train, epochs=50, batch_size=10, validation_split=0.1)

loss, accuracy = model.evaluate(X_test, y_test)
print("Test Accuracy:", accuracy)

In [ ]:
nn_predictions = (model.predict(X_test) > 0.5).astype(int)
print("Neural Network Accuracy:", accuracy_score(y_test, nn_predictions))
print(classification_report(y_test, nn_predictions))

Question5.	Compare the performance of the neural networks to another model you created. Which performed better? Why do you think that is?

Random forest model performed better than neural network, achieving an accuracy of 0.79 compared to neural network's accuracy around 0.50. This is because Random Forest generally performs better on smaller or less complex data sets than neural networks and because it has a lower possibility for overfitting. What's more, Random Forest can manage non-linear relationships between features better without needing extensive hyperparameter tuning or feature scaling.

Question6.	3 pts for using Keras and PyTorch. Additional 2 pts for identifying an optimal activation function and optimizer function for the dataset you chose.

In [ ]:
from keras.optimizers import Adam, SGD
from keras.layers import Activation

def build_and_evaluate_model(activation_function, optimizer):
    model = Sequential([
        Dense(64, input_shape=(X_train.shape[1],), activation=activation_function),
        Dense(32, activation=activation_function),
        Dense(1, activation='sigmoid')
    ])
    model.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])
    model.fit(X_train, y_train, epochs=50, batch_size=10, validation_split=0.1)
    loss, accuracy = model.evaluate(X_test, y_test)
    print(f"Using {activation_function} and {optimizer}: Test Accuracy = {accuracy}")

from keras.optimizers import Adam, SGD

for activation in ['relu', 'sigmoid', 'tanh']:
    for opt in [Adam(learning_rate=0.001), SGD(learning_rate=0.01)]:
        build_and_evaluate_model(activation, opt)